<html>

<head>
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <title>Navy Blue Silver - {{.Title}}</title>
</head>

<body>
  <div id="container">
    <div id="mainpic">
      <h1>{{.Title}}</h1>
    </div>

    <div id="menu">
      <ul>
        <li class="menuitem"><a href="../about">About</a></li>
        <li class="menuitem"><a href="../article/bitcoinbeginners">Bitcoin Beginners Guide</a></li>
        <li class="menuitem"><a href="../donate">Donate</a></li>
      </ul>
    </div>
    <div id="description">
      <img src="/images/about.png" /> </br>
    </div>
    <div id="contact">
    {{printf "Email: %s" .Email}} </br>
    {{printf "Fingerprint: %s" .Fingerprint}} </br>
    </div>
  </div>
</body>
</html>
