<html>
<head>
    <title>Navy Blue Silver</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <a class="navbar-brand" href="#">Navy Blue Silver</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="../about">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Article</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../article/may">May Update</a>
          <a class="dropdown-item" href="../article/june">June Update</a>
          <a class="dropdown-item" href="../article/july">July Update</a>
          <a class="dropdown-item" href="../article/august">August Update</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../futures">Futures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../disclaimer">Disclaimer</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="../donate">Donate</a>
      </li>
  </div>
  </nav>
<main>
<div class="container">
  <h1>Donate</h1>
  <h2>Lightning Invoice</h5>
  <p>Donate using a lightning invoice</p>
  <form action="/donate" method="post">
      <p><img src={{.PaymentRequestPNG}}  alt="Lightning Payment Request" width="200"/></p>
      <p>Payment request: <strong>{{.PaymentRequest}}</strong></p>
      <p>Satoshis: <input type="number" name="satoshis"></p>
      <p><input type="submit" value="Get Invoice"></p>
      <p>Donating {{.Donation}} satoshis</p>
  </form>
  <hr>
  <h2>Bitcoin Address</h5>
  <p>Donate using our bitcoin address</p>
  <p><img src="/images/address.png" alt="Bitcoin Public Key"  width="200"/></p>
  <p>Public Key: <strong>{{.DonationAddress}}</strong></p>
  <hr>
</div>
</main>
</body>
<footer>
  <div class="container">
  <h2>Contact</h2>
  <p>Email: <a href="mailto:navybluesilver@protonmail.ch">navybluesilver@protonmail.ch<a/></p>
  <p>Fingerprint: DE0F 14CE F6C2 819E 0ADC CF85 4153 56DD 6450 053C</p>
  <p>Fork me on <a href="https://github.com/navybluesilver/navybluesilver">github<a/></p>
  </div>
</footer>
</html>
