<html>

<head>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
  <title>Navy Blue Silver - {{.Title}}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="../about">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="../article/bitcoinbeginners">Bitcoin Beginners Guide</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../donate">Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../pricing">Pricing</a>
      </li>
    </ul>
</nav>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
  <title>Navy Blue Silver - {{.Title}}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="../about">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../article/bitcoinbeginners">Bitcoin Beginners Guide</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="../donate">Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../pricing">Pricing</a>
      </li>
    </ul>
</nav>

<main>
</br>
</br>
</br>
</br>
<div class="container">
  <img src="/images/address.png" /></p>
</div>
</main>
</body>
</html>
